@use '../../variables' as *;

.accordion:first-child {
    & .accordion-header {
        border-top: pixel-to-rem(1px) solid $kpg-border-color;
    }
}
.accordion {
    background-color: white;

    & .accordion-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: $kpg-hover-color;
        }
    }

    & .accordion-header,
    & .accordion-content {
        padding: 1rem;
        border-bottom: pixel-to-rem(1px) solid $kpg-border-color;
    }

    & .accordion-button {
        padding: 0.25rem;
    }
}
